---
import Icon from "./Icon.astro";
---

<div class={Astro.props.clase}>
  <div class="relative inline-block text-left">
    <div>
      <button
        type="button"
        class="dropdown-menu inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-grape-950 shadow-sm ring-1 ring-inset ring-grape-900 hover:bg-grape-100"
        id="menu-button"
        aria-expanded="true"
        aria-haspopup="true"
      >
        <Icon icon={Astro.props.icon} size="2em" />
        <h4 class="sr-only">{Astro.props.srtitle}</h4>
      </button>
    </div>
    <div
      class="dropdown-content notification-menu hidden absolute right-0 z-10 mt-2 max-h-96 w-[500px] origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none overflow-y-auto"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="menu-button"
      tabindex="-1"
    >
      <div
        class="notification-header flex flex-row justify-center items-center"
      >
        <Icon icon={Astro.props.icon} size="1.4em" />
        <h5 class="text-xl p-6 text-grape-900 font-semibold not-sr-only">
          {Astro.props.title}
        </h5>
      </div>
      <slot name="children" />
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    let isOpen = false;
    const dropdowns = document.querySelectorAll(".dropdown");

    function toggleMenu(dropdown) {
      isOpen = !isOpen;
      const dropdownContent = dropdown.querySelector(".dropdown-content");
      if (isOpen) {
        dropdownContent.classList.remove("hidden");
        dropdown.setAttribute("aria-expanded", "true");
      } else {
        dropdownContent.classList.add("hidden");
        dropdown.setAttribute("aria-expanded", "false");
      }
    }

    function onWindowClick(event, dropdown) {
      const dropdownContent = dropdown.querySelector(".dropdown-content");
      if (!event.target.closest(".dropdown")) {
        isOpen = false;
        dropdownContent.classList.add("hidden");
        dropdown.setAttribute("aria-expanded", "false");
      }
    }

    dropdowns.forEach((dropdown) => {
      dropdown.addEventListener("click", function (event) {
        toggleMenu(dropdown);
        window.addEventListener("click", function (event) {
          onWindowClick(event, dropdown);
        });
        event.stopPropagation();
      });
    });

    dropdowns.forEach((dropdown) => {
      dropdown.addEventListener("click", function (event) {
        event.stopPropagation();
      });
    });

    const dropdownContents = document.querySelectorAll(".dropdown-content");
    dropdownContents.forEach((content) => {
      content.addEventListener("click", function (event) {
        event.stopPropagation();
      });
    });

    document.addEventListener("click", function () {
      dropdowns.forEach((dropdown) => {
        const dropdownContent = dropdown.querySelector(".dropdown-content");
        dropdownContent.classList.add("hidden");
        dropdown.setAttribute("aria-expanded", "false");
      });
    });
  });
</script>
